body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(241, 238, 224);
}

#insert{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}

#numers{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 60px;
}
#outroValor{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 90px;
}
#terceiroValor{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 120px;
}
#quartoValor{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 150px
}
#quintoValor{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 180px;
}
#sextoValor{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 210px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    top: 240px;
    position: absolute;
    background-color: #006080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
button:hover{
    background-color: #008CBA;
}

#ver{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    right: 1%;
    bottom: 0%;
}