body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(241, 238, 224);
}

#insert{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}
#dataehora{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 60px;
}
#barcode{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 90px;
}
#datepag{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 120px
}
#Valor{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 150px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    top: 180px;
    position: absolute;
    background-color: #006080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
button:hover{
    background-color: #008CBA;
}